# Plone 6 requirements
# Find links for additional package repositories
-f https://eggrepo.eea.europa.eu/simple/
-f https://pypi.org/simple/
-f https://eggshop.eaudeweb.ro
-f https://code.codesyntax.com/static/public

# Core Plone packages
plone.app.imagecropping
plone.tiles
plone.autoinclude
plone.restapi
plone.rest
plone.volto
plone.api

# EEA packages
eea.api.dataconnector
eea.restapi
eea.coremetadata
eea.volto.policy

# Development packages (git sources)
# eea.privacyscreen - REMOVED: Not compatible with Python 3/Plone 6
# Only supports Python 2.7 and Plone 4.3

# Collective packages
collective.MockMailHost
collective.exportimport
collective.relationhelpers
collective.z3cform.datagridfield

# Third-party packages
pdfkit
rdflib-jsonld
SQLAlchemy
openpyxl
ijson
hurry.filesize
zope.sqlalchemy
pymssql

# WISE packages
wise.msfd
