# Plone 6 requirements
# Find links for additional package repositories
-f https://eggrepo.eea.europa.eu/simple/
-f https://pypi.org/simple/
-f https://eggshop.eaudeweb.ro
-f https://code.codesyntax.com/static/public

# Core Plone packages
plone.app.imagecropping
plone.tiles
# Core Plone packages (restapi, rest, volto, api) managed by Plone 6 constraints

# EEA packages
eea.api.dataconnector
eea.coremetadata

# Development packages (git sources)
# eea.privacyscreen - REMOVED: Not compatible with Python 3/Plone 6
# Only supports Python 2.7 and Plone 4.3

# Collective packages
collective.MockMailHost
collective.exportimport
collective.relationhelpers
collective.z3cform.datagridfield

# Third-party packages
pdfkit

# WISE packages
